body {
  background-image: url(./backgroundImage1.png);
  /*background: linear-gradient(to top, #ffff66 10%, #ff99ff 94%,#9933ff);*/
  position: relative;
}

h1 {
  text-align: center;
  color: white;
  font-size: 80px;
}

h2 {
  padding: 0 0 0 60px;
  cursor: pointer;
  height: 40px;
  color: white;
  background: url('./flower.png') no-repeat;
}

section {
  margin: 5px;
  padding: 10px;
  background-color: black;
  opacity: 0.8;
}

.h1 {
  background-color: black;
  padding: inherit;
}

.close {
  background: url('./cross.jpg') no-repeat;
}

.answer {
  background-color: #404040;
  color: white;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
